#menu
{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li
{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a
{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
    color: #fafafa;
}

*html #menu li a:hover 
{
    color: #fafafa;
}

#menu li:hover > ul
{
    display: block;
}

/* Submenús */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a 
{
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a 
{
    height: 10px;
    width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Borrar elementos flotantes */
#menu:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu { zoom: 1; } 
*:first-child+html #menu { zoom: 1; }


.textbox {

 border: 1px solid #DBE1EB;
 font-size: 18px;
 font-family: Arial, Verdana;
 padding-left: 7px;
 padding-right: 7px;

 padding-top: 10px;
 padding-bottom: 10px;

 border-radius: 4px;

 -moz-border-radius: 4px;

 -webkit-border-radius: 4px;
 -o-border-radius: 4px;
 background: #FFFFFF;
 background: linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
 color: #2E3133;

}


.textboxtabla {

 border: 1px solid #DBE1EB;
 font-size: 15px;
 font-family: Arial, Verdana;
 padding-left: 7px;
 padding-right: 7px;

 padding-top: 10px;
 padding-bottom: 10px;

 border-radius: 4px;

 -moz-border-radius: 4px;

 -webkit-border-radius: 4px;
 -o-border-radius: 4px;
 background: #FFFFFF;
 background: linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
 background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
 color: #2E3133;

}


.button{
    background:orange;
    display:inline-block;
    margin:0 6px;
    padding:7px 20px 7px;
    color:#333;
    text-decoration:none;
    text-shadow: 0 1px 1px #FFF;
    border:1px solid #ccc;
}


#contenedor_formulario{
width : 700px; 
height : auto;
background: #6495ED;
padding:20px;
margin:20px auto;
}

#contenedor_formulario2{
width : 1000px; 
height : auto;
background: #6495ED;
padding:20px;
margin:20px auto;
}

#contenedor_formulario3{
width : 500px; 
height : auto;
background: #6495ED;
padding:20px;
margin:20px auto;
}


#contenedor_formulario4{
width : 1300px; 
height : auto;
background: #6495ED;
padding:20px;
margin:20px auto;
}



#contenedor_login { 
width : 400px; 
height : auto; 
background: #CCEEFF;
padding:20px;
margin:20px auto;
}



label {
  display: block;
  margin: .5em 0 0 0;
}
.btn {
  display: block;
  margin: 1em 0;
}


#iniciobiblio{
background-color: #000;
background-image:url('img/bibliotecas.jpg');
background-repeat:no-repeat;
background-position:top center;
width=100%;
height:100%;
}

#iniciopre{
background-color: #000;
background-image:url('img/oficina.jpg');
background-repeat:no-repeat;
background-position:top center;
width=100%;
height:100%;
}


strong { 
  font-size: 14pt; 
   font-family: "ARIAL";
}


#titulo { 
 text-align:center; 
 background: #000; 
 padding-top: 5px;
 padding-bottom: 10px; 
 color: #fff; 
 font-size: 20px; 
 border-radius: 10px 10px 10px 10px; 
 box-shadow: 0 0 5px 5px rgba(0,177,223,1); 
 border-width: 4px 4px 0 4px; 
 border-style: solid; 
 border-color: #000;
 padding:20px;
 margin:20px auto;

}


H3 { 
  font-size: 12pt; 
   font-family: "ARIAL";
}


.scrolling-table-container {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}



































